/* navigation elements */ @import url("navi.css");
/* page structure */ @import url("pages.css"); 
/* section colors */ @import url("colors.css"); 


/* general styles 
 */
body
{
    font:  100% Calibri, Verdana, Geneva, Arial, Helvetica, sans-serif; 
    color: Black;
}

input, select, textarea	
{
    font:  12px Calibri, Verdana, Geneva, Arial, Helvetica, sans-serif; 
    color: Black;
}

p
{
    margin: 0px 0px 20px 0px;
} 

strong	
{
    color: #3c3c3c;
}


/* headings 
 */
h1
{
    font-size: 200%; 
    margin: 0px 0px 15px 0px; 
    font-weight: normal;
}

h2
{
    font-size: 160%; 
    font-weight: normal; 
    margin: 0px 0px 10px 0px;
}

h3
{
    font-size: 100%; 
    font-weight: bold; 
    margin: 0px 0px 8px 0px; 
    color: #3c3c3c;
}

#mainContent h3
{
    margin-bottom: 10px;
}

h4
{
    font-size: 100%; 
    margin: 0px 0px 10px 0px; 
    font-weight: bold; 
    text-transform: uppercase; 
    color: #3c3c3c;
}


/* links 
 */
a:link, a:visited, a:active
{
    text-decoration: none; 
    color: #3C3C3C;
}

#news a, .paging a
{
    color: #3c3c3c !important;
}

a:hover
{
    text-decoration: underline;
}

a img
{
    border: 0px;
}

div.submission_row{
    position:relative;
}

p.submission_text{
/*    display:table;*/
/*    padding-right:10px;*/
    margin-right:95px;
    text-align: left;
}

p.submission_links{
    border-left:1px dotted black;
    position:absolute;
    right:0;
    width:80px;
    height:100%;
    text-align:right;
    padding-left:10px;
}

ul.authors_list li{
    display:inline-block;
    width:31%;
    vertical-align:top;
    text-align: left;
}

a.paper_authors{
    white-space:nowrap;
}